# replaces .env in production

apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  SECRET_KEY: "replace_me"
  DATABASE_URL: "postgresql://postgres:postgres@db:5432/appdb"


